.gameContainer{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.statusList{
  position: relative;
  height:100%;
  width: 30vw;
  background: #8FAD47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:150px;
  color:black;
}

.statusPanel{
  transform: translateY(100px);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  color: black;
  opacity: 0;

}

.statusPanelShow{
  transform: translateY(0vw);
  transition: all 1s;
  opacity: 1;

}



.gamingArea{
  position: relative;
  height:100%;
  width:70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  background: #513F31;

  perspective-origin:center center;
  -moz-perspective-origin:center center;
  -webkit-perspective-origin:center center;
  perspective:0px;
  -moz-perspective:0px;
  -webkit-perspective:0px;
}

.gamingArea .canvas{
  width:80%;
  height: 80%;
  background: white;
  transform-style:3d;
  -moz-transform-style:3d;
  -webkit-transform-style:3d;
  background-image: url("/img/game/background.svg");
  background-size: 100px 100px;
}

.land{
  position: relative;
  top:30%;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width:350px;
  height:350px;
  transform:rotateX(55deg) rotateZ(45deg);
  -moz-transform:rotateX(55deg) rotateZ(45deg);
  -webkit-transform:rotateX(55deg) rotateZ(45deg);

}
.land div{

  position: relative;
  display: inline-block;
  /*width:100px;
  height: 100px;
  background: gray;*/
  /*background-image: url("/img/game/land.svg");*/

}

.land div:hover{

  border:1px black solid;
  /*background-image: url("/img/game/land.svg");*/

}

.land div img{
  height: 100%;
  width: 100%;

 /*-webkit-transform :rotateX(20deg) rotateY(45deg) rotateZ(130deg);*/
}

.landObject{
  position: absolute;
  top:0px;
  left:0px;
  z-index: 100;
}

.cropObject{
  position: absolute;
  top:200px;
  left:200px;
  cursor: pointer;
}

.cropObject img{
  height: 100%;
  width: 100%;
}


.crop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.crop *{
  margin-left: 20px;
}

.crop img{
  width:50px;
  height:50px;
}

.farm{
  width:150px;
  height:150px;
}

.plantButton{
  transition: all 1s;
}

.summaryBoard{


}

.characterList{
  position: absolute;
  width: 20vw;
  height: 200px;
  z-index: 20000;
  background: rgba(0,0,0,0.5);
  right: 7vw;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.summaryBoard div{
  margin-bottom: 10px;
}

.cropTable{
  top:50px;
}

.summaryBoard h2{
  position: absolute;
  top:20px;
}

.property_shop{
  position:absolute;
  z-index: 3;
  height:80vh;
  width:80vw;
  margin-top:50px;
  background-color:white;
}
