.gameContainer{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.statusList{
  position: relative;
  height:100%;
  width: 30vw;
  /*background: #513F31;*/
  background: #99CB34;
  background-image: url("/img/game/background.svg");
  background-size: 200px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*color:white;*/
}

.statusPanel{
  position: absolute;
  top:20vh;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:  flex-start;
  color: black;
  font-size: 30px;
  opacity: 0;
  background-color: rgba(255,255,255,0.65);
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
}
.statusPanelShow{
  opacity: 1;
}

/* for transform animation*/
.statusPanelList{
  /*margin-top: -25vh;*/
  position: relative;
  top: 6vh;
  transform: translateY(100px);
}
.statusPanelShow>.statusPanelList{
  transform: translateY(0vw);
  transition: all 1s;
  opacity: 1;
}

/****************/

.operationList{
    position: absolute;
    width: 10vw;
    height: 45vh;
    z-index: 20000;
    background: rgba(0, 0, 0, 0);
    right: 0px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.menuButton{
  height: 50px;
  width: 50px;
}
.menuBtn button{
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
}
.menuButton img{
  width: 100%;
  height: 100%;
}
.placeButton{
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  width: 72px;
  height: 59px;
}
.removeButton{
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  width: 72px;
  height: 59px;
}
.plantButton{
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  width: 72px;
  height: 59px;
}
.rightMenuIcon{
  height: 45vh;
  width: 10vw;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  display: none;
}
.rightMenuIcon button{
  height: 15vh;
  width: 10vw;
  background-color: rgba(255,255,255,0.45);
  border-style: none;
}
.rightMenuIcon>.btnMission{
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rightMenuIcon>.btnRank{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
}
.rightMenuIcon img{
  height: 70%;
  width: 70%;
}
/* in rightMenuIcon rating */
#btn_shop_close{
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  position: absolute;
  right: -20px;
  top:-20px;
}
#btn_mission_close{
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  position: absolute;
  right: -20px;
  top: -20px;
}

.gamingArea{
  position: relative;
  height:100%;
  width:70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #513F31;

  perspective-origin:center center;
  -moz-perspective-origin:center center;
  -webkit-perspective-origin:center center;
  perspective:0px;
  -moz-perspective:0px;
  -webkit-perspective:0px;
}

.gamingArea .canvas{
  width:100%;
  height: 100%;
  background: #99CB34;
  transform-style:3d;
  -moz-transform-style:3d;
  -webkit-transform-style:3d;
  background-image: url("/img/game/background.svg");
  background-size: 200px 200px;
}

.land{
  position: relative;
  top:30%;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width:350px;
  height:350px;
  transform:rotateX(55deg) rotateZ(45deg);
  -moz-transform:rotateX(55deg) rotateZ(45deg);
  -webkit-transform:rotateX(55deg) rotateZ(45deg);

}
.land div{

  position: relative;
  display: inline-block;
  /*width:100px;
  height: 100px;
  background: gray;*/
  /*background-image: url("/img/game/land.svg");*/

}

.land div:hover{

  border:1px black solid;
  /*background-image: url("/img/game/land.svg");*/

}

.land div img{
  height: 100%;
  width: 100%;

 /*-webkit-transform :rotateX(20deg) rotateY(45deg) rotateZ(130deg);*/
}

.landObject{
  position: absolute;
  top:0px;
  left:0px;
  z-index: 100;
  perspective-origin:center center;
  -moz-perspective-origin:center center;
  -webkit-perspective-origin:center center;
  perspective:0px;
  -moz-perspective:0px;
  -webkit-perspective:0px;

  transform-style:3d;
  -moz-transform-style:3d;
  -webkit-transform-style:3d;
}

.farmObject{
  transform:rotateX(55deg) rotateZ(45deg);
  -moz-transform:rotateX(55deg) rotateZ(45deg);
  -webkit-transform:rotateX(55deg) rotateZ(45deg);
}

.selectedLandObject{
  transform:rotateX(55deg) rotateZ(45deg);
  -moz-transform:rotateX(55deg) rotateZ(45deg);
  -webkit-transform:rotateX(55deg) rotateZ(45deg);
}


.cropObject{
  position: absolute;
  width:150px;
  height:150px;
  top:200px;
  left:200px;
  cursor: pointer;
}

.cropObject img{
  height: 100%;
  width: 100%;
}

.thiefObject{
  position: absolute;
  width:150px;
  height:150px;
  top:200px;
  left:200px;
  cursor: pointer;
}

.thiefObject img{
  height: 100%;
  width: 100%;
}


.crop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.crop *{
  margin-left: 20px;
}

.crop img{
  width:50px;
  height:50px;
}

.farm{
  width:150px;
  height:150px;
}

.plantButton{
  transition: all 1s;
}

.summaryBoard{


}

.logo{
  position: absolute;
  width: 25vw;
  height: 10vh;
  z-index: 20000;
  /*background: rgba(0,0,0,0.5);*/
  right: 0px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.logo img{
  width: 100%;
  height: 100%;
}

.summaryBoard div{
  /*margin-bottom: 10px;*/
}

.cropTable{
  top:50px;
}
#cropTable{
  font-size: 20px;
}
#cropTable{

}
.summaryBoard h2{
  /*position: absolute;
  top:20px;*/
}

.mission_template{
  position:absolute;
  z-index: 6;
  height:80vh;
  width:45vw;
  margin-top:50px;
  left: 40vw;
  padding: 10px;
  background-color:rgba(255,255,255,0.7);
  display:none;
  text-align:center;
  color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.mission_template input{
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border-style: none;
}
.mission_content{
  overflow: auto;
  height: 70vh;
  width: 40vw;
}
#mission_table{
  margin-top: 5vh;
  width: 100%;
  height: 100%;
  text-align: center;
}
#mission_table tr:first-child{
  position: fixed;
  width: 40vw;
  font-weight:500;
  font-size: 18px;
}
#mission_table th{
  width: 100vw;
}
#mission_table th:nth-child(1){
  width: 25vw;
}
#mission_table th:nth-child(2){
  width: 65vw;
}
#mission_table th:nth-child(3){
  width: 5vw;
}
#mission_table th:nth-child(4){
  width: 5vw;
}
#mission_table td:nth-child(1){
  width: 20vw;
}
#mission_table td:nth-child(2){
  width: 60vw;
}
#mission_table td:nth-child(3){
  width: 10vw;
}
#mission_table td:nth-child(4){
  width: 10vw;
}
.property_shop{
  position:absolute;
  z-index: 6;
  height:80vh;
  width:45vw;
  margin-top:50px;
  left: 40vw;
  /*background-color:rgba(255,255,255,0.7);*/
  display:none;
  text-align:center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.property_shop select {
  color:black;
}
.property_shop>.shop_header{
    background-color: rgb(164, 209, 151);
    height: 5vh;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.property_shop input{
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border-style: none;
}
.property_shop tbody{
  color: black;
  border-style: none;
}
.shop_content{
  text-align:center;
  padding-top: 5vh;
  height: 70vh;
  background-color:rgba(255,255,255,0.7);
  overflow: auto;
}

.property_shop.property_shop_table{
  height: 70vh;
  width: 50vw;
}

/*rightMenuIcon btnShop shopOpen*/
#property_table{
  width: 45vw;
  height: 70vh;
}

/*property stock tradable in the fourth controlButtons*/
.tradeable_content{
  overflow: auto;
  width: 25vw;
  height: 10%;
  margin-right: -3vw;

}
.button{
  outline:none;
}
#property_trade_table{
  display: flex;
  justify-content: center;
  width: 25vw;
  font-size: 20px;
  text-align: center;
  border-spacing: 100px;
}
#property_trade_table td{
  width:50vw;
  vertical-align:middle;
}
.shop_tradable_input{
  width: 1vw;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  border-style: none;
}
.expProgress{
  position: relative;
  width: 100px;
  height: 20px;

  background-color: grey;
  color:black;
  text-align: center;
}

.expProgressBar{
  position: absolute;
  left:0px;
  width: 0%;
  height: 100%;
  background-color: #BBFF00;
  transition: all 1s;


}

.expText{
  position: relative;
  top:0px;
  left:0px;
  float:none;
  margin-left: auto;
  margin-right: auto;
}

.SyndicateExp{
    visibility:collapse;
    position: absolute;
}

.SyndicateExpProgress{
  position: relative;
  width: 100px;
  height: 20px;

  background-color: grey;
  color:black;
  text-align: center;
}

.SyndicateExpProgressBar{
  position: absolute;
  left:0px;
  width: 0%;
  height: 100%;
  background-color: #BBFF00;
  transition: all 1s;


}

.SyndicateExpText{
  position: relative;
  top:0px;
  left:0px;
  float:none;
  margin-left: auto;
  margin-right: auto;
}


.staProgress{
  position: relative;
  width: 100px;
  height: 20px;

  background-color: grey;
  color:black;
  text-align: center;
}

.staProgressBar{
  position: absolute;
  left:0px;
  width: 0%;
  height: 100%;
  background-color: #BBFF00;
  transition: all 1s;


}

.staText{
  position: relative;
  top:0px;
  left:0px;
  float:none;
  margin-left: auto;
  margin-right: auto;
}

.controlButtons{
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  right: -5.5vw;
  z-index: 1;
  width: 5.5vw;
  top:5vh;
    transition: all 0s;
    transition-duration:0s;
    transition-delay: 0s;
}
.controlButtons button{
  margin-top: 1vh;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
  height: 15vh;
  width: 5vw;
  background-color: rgba(255,255,255,0.45);
  border-style: none;
}
.controlButtons button:hover{
  background-color: rgba(255, 255, 255, 0.65);
}

.controlButtons img{
  height: 100%;
  width: 100%;
}
.landList{
  display: flex;
  flex-direction: column;
}
.cropLand{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  margin-bottom:30px;
}

.cropLand *{
  margin-right: 10px;
}

.cropLand img{
  height:50px;
}

/*td{
  width:100px;
  text-align: center;
}*/

td img{
  width:50px;
  height:50px;
}

.characterList{
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0px;
  left: 0px;
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index:5;

  background: #99CB34;
  background-image: url("/img/game/background.svg");
  background-size: 200px 200px;

}

.characterImg{
  width:100px;
  height:100px;
  border-radius: 100%;
  background: #E5E5E5;
}

.characterImg img{
  width:100%;
  height:100%;
}

.characterStatus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.characterStatus *{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.characterStatus h3{
  margin-bottom: 10px;
}

.characterStatus h4{
  margin-right: 5px;
}

.userExp{
  margin-bottom: 10px;
}

.functionSwitch{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.functionSwitch button{
  margin-right: 10px;
}

.musicSwitch{
  width:40px;
  height:40px;
  border-radius: 100%;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s;
}

.musicSwitch:hover{
  background: rgba(255,255,255,0.3);
}

.musicSwitch img{
  width:80%;
  height: 80%;
}

.croppedObject{
  cursor: pointer;
}

.animationObject{
  -webkit-transition: opacity 1s,  -webkit-transform 1s; /* Safari */

  transition:  opacity 1s, transform 1s;
  display: none;
  opacity: 0;
}

.animationTemp{
  width:80px;
  height:80px;
  position:absolute;
  z-index:6;

  -webkit-transition: opacity 1s,  -webkit-transform 1s; /* Safari */

  transition:  opacity 1s, transform 1s;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);

  display: none;
  opacity: 0;
  color:white;
}

.animationTempShow{
   opacity:1;
   transform:translateY(-50px);
   -webkit-transform:translateY(-50px);
}

.animationImg img{
  width:80px;
  height: 80px;
}

.levelUpObject{
  -webkit-transition: opacity 1s,  -webkit-transform 1s; /* Safari */

  transition:  opacity 1s, transform 1s;
  display: none;
  opacity: 0;

  position:absolute;
  width:150px;
  height:150px;
  z-index:7;
}

.progressObject{
  -webkit-transition: opacity 1s,  -webkit-transform 1s; /* Safari */

  transition:  opacity 1s, transform 1s;
  display: none;
  opacity: 0;

}
.loading{
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(255,255,255,0.5);
  transition: opacity 1s;
  border-radius: 10%;
}

.levelUp{
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0,0,0,0.8);
  transition: opacity 1s;
  border-radius: 10%;
  display:none;
  opacity: 0;
}

.levelUp h2{
  position: absolute;
  top:10%;
  color:white;
  font-size: 36px;

}

.levelUp div{
  position: absolute;
  width:50%;
  height: 50%;
}

.levelUpArrow{
  z-index:11;
  animation-name: levelUpArrow;
  animation-iteration-count:infinite;
  animation-duration: 5s;

}

.levelUp img{
  animation-name: levelUpCircle;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

.circleL img{
  animation-duration: 10s;
}

.circleM img{
  animation-duration: 6s;

}

.circleS img{
  animation-duration: 4s;

}

.levelUpText{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;

}

.levelUpText h2{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

@keyframes levelUpArrow {
    0%   {transform: translateY(0px); opacity: 0;}
    100% {transform: translateY(-150px); opacity: 1;}
}

@keyframes levelUpCircle {
    0%   {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

.MissionOpen{
  position: relative;
}

.missionIndicator{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: red;
  top:-10px;
  left:-10px;
}

.thiefObject{
  -webkit-transition: all 1s;

  transition: all 1s;
  cursor: pointer;
  display:none;
}

.thief{
  -webkit-transition: transform 1s, opacity 1s;

  transition: transform 1s, opacity 1s;
  cursor: pointer;
}

.thief img{
  width:100%;
  height:100%;
}

.removeLand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.removeLand *{
  margin-right: 10px;
}
