/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700,800,900');

body{

  background: #112027;
  *background-color: rgb(249, 204, 241);
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-x: hidden;

  font-family: 'Libre Franklin', sans-serif;
}


.layout{
  /*display:flex;*/
  /*flex-wrap: row;*/
  width: 100%;
  height:100vh;
  /*align-items: center;*/
}
.indexHeader{
  position: absolute;
  display:flex;
  align-items: center;
  width:100vw;
  height:50px;
  color:#fff;
  top:100vh;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

.header{
  position: absolute;
  display:flex;
  align-items: center;
  width:100vw;
  height:150px;
  color:#fff;
  top:0px;
  z-index: 100;
}

.header ul{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  right:10px;
}
.header ul li{
  display: inline;
  cursor: pointer;

}
.header a{
  color:#BFBFBF;
  font-family: "franklin-gothic-urw", "sans-serif";
  font-size: 20px;
}

.header ul div{
  width: 30%;
  height: 100%;
}

.header img{
  width: 100%;
  heig: 100%;;
}
.header ul li:hover{
  color:rgb(150,150,255);
}

#title{
  display: flex;
  justify-content: flex-start;
  background-size: 100% 100%;
  flex-wrap: row;
  width: 100%;
  height:100vh;
  background: #fff;
}

.titleImage{
  position: absolute;
  top:30vh;
  right:10vw;
  width:60%;
  height: 60%;

}

.titleBar{
  position: absolute;
  bottom:0px;
  left:0px;
  width:100vw;
  height:20vh;
  background: #E8E8E8;
  z-index: 1;
}

.titleImage img{
  position: absolute;
  width:100%;
  height:100%;
  z-index: 2;
}

h1{
  font-size: 60px;
  color: #404040;
  font-weight: 500;
}

h2{
  text-align: center;
}

h3{
  font-size: 25px;
  color:gray;
  font-weight: normal;
}
.titleContainer{
  position: absolute;
  z-index: 3;
  margin-top:150px;
  margin-left: 80px;
  background: rgba(0,0,0,0);
  border-radius: 10px;
  color:white;
  padding:30px;

}
.titleContainer span{
  position: relative;
  background: #000;
  padding:10px;
  top: 20px;
  margin-right: 10px;

}

.socialIcons{
  position:relative;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.socialIcons *{
    margin-right: 10px;
}

#arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 11;
    height: 70px;
    width: 70px;
    margin-left: -35px;
    background: url(/img/bg-arrow-down.png) no-repeat 21px 26px rgba(0,0,0,0.1);
    background-size: 28px 16px;
    text-indent: -9999px;
    display: block;
}

#intro #aboutUs{
  display: flex;
  color: #404040;
  background: #ffffff;
}
#aboutUs{
  background: #E8E8E8;
  height: 80vh;
}
#intro_head{
  display:inline-flex;;
  position: absolute;
  flex-direction: column;
  padding-top: 10vh;
  align-content: space-around;
  margin-left: 87px;
}
#intro_head h1{
  padding-bottom: 5vh;
}

.underLine{
  position: relative;
  width:140px;
  height: 0.4vh;
  background-color:#404040;
}
#videoBack{
  position: relative;
  width:60vw;
  height: 50vh;
  background-color:#E8E8E8;
  margin-top: 10vh;
}
#videoWord{
  position: relative;
  padding-left: 40vw;
  margin-top: -6vh;
}
#videoWord h1{
  background-color: #E3F4FD;
  text-align: center;
  height: 80px;
  line-height: 80px;
}
#intro_content{
  padding-left: 50vw;
  padding-top: 20vh;
  line-height: 30px;
}
#teamInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#teamInfo>div{
  height:600px;
  width:500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamCircle{
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 99em;
  background-color: #C7EBFC;
  /*margin-top: 50px;*/
}
.memeberBox>.teamCircle{
  display: flex;
  position: absolute;
}
.memeberBox>.teamPic{
  display: flex;
  position: absolute;
  margin-left: 220px;
}
.memeberInfo{
  z-index: 100;
  padding-top: 30vh;
  padding-left: 20vw;
}
#teamInfo p{
  color: #A6A6A6;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
}
#teamInfo h1{
  color: #7F7F7F;
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
}

#whyUs{
  display: flex;;
  color: #404040;
  background: #ffffff;
}

#whyUs_head{
  display:inline-flex;;
  position: absolute;
  flex-direction: column;
  padding-top: 10vh;
  align-content: space-around;
  margin-left: 87px;
}
#whyUs_head h1{
  padding-bottom: 5vh;
}

#whyUs_content{
  padding-left: 50vw;
  padding-top: 20vh;
  line-height: 30px;
}


#aboutUs{
  display: flex;;
  color: #404040;
  background: #ffffff;
}

#aboutUs_head{
  display:inline-flex;;
  position: absolute;
  flex-direction: column;
  padding-top: 10vh;
  align-content: space-around;
  margin-left: 87px;
}
#aboutUs_head h1{
  padding-bottom: 5vh;
}

#aboutUs_content{
  padding-left: 50vw;
  padding-top: 20vh;
  line-height: 30px;
}


#advantage{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,0.5);
  color:#fff;
}

#advantageContainer{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:-60px;
}

#advantage2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,50,0,0.5);
  color:#fff;
}

#advantageContainer2{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:-60px;
}
.advantageContainer div{
  width:300px;
  height:400px;
  text-align: center;
  margin-right: 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tutorial{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color:white;
}
#tutorial > div{
  margin-right: 100px;
  height:600px;
  width:500px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tutorial img{
  display: block;
  width:35vw;
  height: auto;
  margin-bottom: 50px;
}
#tutorial h1{
  font-weight: 600;
  margin-bottom: 50px;
}

#tutorial h2{
  font-size: 25px;
  margin-bottom: 50px;
}

#footer{
  padding-top: 10vh;
}
#footer> .copyRight{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:50px;
  color:rgb(0, 0, 0);
  background: #E8E8E8;
  font-weight: 500;
}
#footer ul{
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.footerLogo{
  padding-left: 8vw;
}
.footerLogo2{
  margin-left: -8vw;
}
#footer>.contact{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5vh;
  padding-bottom:7vh;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #7F7F7F;
}
.footerLine{
  position: relative;
  width:2px;
  height: 80px;
  background-color:#7F7F7F;

}
.footerInfo1{
  padding-right: 5vw;
}
.footerInfo2{
  padding-left: 5vw;
}
#form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form label{
  width:100px;
  margin-bottom: 20px;
  color: #7F7F7F;
}
.formElement{
  display: flex;
  flex-direction: row;
}

.formElement label{
  line-height: 2;
}

#next{
  float:right;
}
#characters button:click{
  background: #fff;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
.flipperClicked {
	transform: rotateY(180deg);
}



/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submitButtons{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.glyphicon{
  top:0px;
}

.fixed{
  position: fixed;
  z-index: 99;
  top: 0px;
}

.table{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  color: white;
}

.manageContent{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  color: white;
}

#matchingTable{
  color:black;
  text-align: center;
}

.manage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}


table tr:hover{
  color:#112027;
}

thead tr:hover{
  color:white;
}

tbody th{
  text-align: center;
}

input, textarea{
    background-color:#000;
    color: #FFF;
    border-color: #000;
}

.stakeholderList{

  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  color: white;
}

#stakeholderTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#web3AccountsTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#matchingTable{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
}
