/* CSS declarations go here */
body{

  background: url(/img/bg.jpg);
  *background: #112027;

  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}
.bgFilter{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  color:#fff;
}

.layout{
  display:flex;
  flex-wrap: row;
  width: 100%;
  height:100vh;
  align-items: center;
}
.indexHeader{
  position: absolute;
  display:flex;
  align-items: center;
  width:100vw;
  height:50px;
  color:#fff;
  top:100vh;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

.normalHeader{
  position: absolute;
  display:flex;
  align-items: center;
  width:100vw;
  height:50px;
  color:#fff;
  top:0px;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}

.header ul{
  display:flex;
  justify-content: space-around;
  width:100%;
}
.header ul li{
  display: inline;
  cursor: pointer;
}
.header ul li:hover{
  color:rgb(150,150,255);
}

#title{
  display: flex;
  justify-content: flex-start;
  background: url(/img/barter.jpg);
  background-size: 100% 100%;
  flex-wrap: row;
  width: 100%;
  height:100vh;
}

h1{
  font-size: 45px;
  color:white;
}

h2{
  text-align: center;
}

h3{
  font-size: 25px;
  color:gray;
}
.titleContainer{
  margin-top:100px;
  margin-left: 100px;

}
.titleContainer span{
  position: relative;
  background: #000;
  color:#fff;
  padding:10px;
  top: 20px;
  margin-right: 10px;

}

#arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 11;
    height: 100px;
    width: 70px;
    margin-left: -35px;
    background: url(/img/bg-arrow-down.png) no-repeat 21px 26px #112027;
    background-size: 28px 16px;
    text-indent: -9999px;
    display: block;
}

#intro{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  background: #112027;
}

#intro h1{
  margin-right: 150px;
}

#intro img{
  display: block;
  width:700px;
  height: auto;
}

#intro div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height:600px;
  width:500px;
}

#advantage{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,0.5);
  color:#fff;
}

#advantageContainer{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:-60px;
}

#advantage2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,50,0,0.5);
  color:#fff;
}

#advantageContainer2{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:-60px;
}
.advantageContainer div{
  width:300px;
  height:400px;
  text-align: center;
  margin-right: 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tutorial{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #112027;
  color:white;
}
#tutorial > div{
  margin-right: 10px;
  height:600px;
  width:500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tutorial img{
  display: block;
  width:300px;
  height: auto;
  margin-bottom: 50px;
}
#tutorial h2{
  font-size: 25px;
  margin-bottom: 50px;
}
#form button{
  margin-left:30px;
}

#footer{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:50px;
  color:#fff;
  background: rgb(0,0,0);
}
#form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form label{
  width:100px;
  margin-bottom: 20px;
}
#next{
  float:right;
}
#characters button:click{
  background: #fff;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
.flipperClicked {
	transform: rotateY(180deg);
}



/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submitButtons{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.glyphicon{
  top:0px;
}

.fixed{
  position: fixed;
  z-index: 99;
  top: 0px;
}

.table{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  color: white;
}

.manageContent{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  color: white;
}

#matchingTable{
  color:black;
  text-align: center;
}

.manage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}


table tr:hover{
  color:#112027;
}

thead tr:hover{
  color:white;
}

tbody th{
  text-align: center;
}

input, textarea{
    background-color:#000;
    color: #FFF;
    border-color: #000;
}

.stakeholderList{

  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  color: white;
}

#stakeholderTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#web3AccountsTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#matchingTable{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
}
