/* CSS declarations go here */
body{

  background: url(/img/concert2.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.layout{
  display:flex;
  flex-wrap: row;
  width: 100%;
  height:100vh;
  border: 1px solid #000;
  align-items: center;
}
#header{
  position: absolute;
  display:flex;
  align-items: center;
  width:100vw;
  height:50px;
  color:#fff;
  top:100vh;
  background: rgba(0,0,0,0.5);
}
#header ul{
  display:flex;
  justify-content: space-around;
  width:100%;
}
#header ul li{
  display: inline;
}

#title{
  justify-content: flex-start;
  align-items: center;
  background: url(/img/concert.jpg);
  background-size: 100% 100%;

}

h1{
  font-size: 45px;
  color:white;
}
h3{
  font-size: 25px;
  color:gray;
}
.titleContainer{
  margin-left: 100px;

}
.titleContainer span{
  position: relative;
  background: #000;
  color:#fff;
  padding:10px;
  top: 20px;
  margin-right: 10px;


}

#arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 11;
    height: 100px;
    width: 70px;
    margin-left: -35px;
    background: url(/img/bg-arrow-down.png) no-repeat 21px 26px rgba(255, 103, 95, .8);
    background-size: 28px 16px;
    text-indent: -9999px;
    display: block;
}

#intro{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:white;
  background: #000;
}

#intro div{
  margin-right: 10px;
  border:1px solid #000;
  height:600px;
  width:500px;
  background: rgba(0, 0, 0, 0.5);
}

#advantage{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,0.5);
  color:#fff;
}

#advantageContainer{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:-60px;
}
#advantageContainer div{
  width:300px;
  height:400px;
  text-align: center;
  border:1px solid #000;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
}

#advantage2{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,100,0,0.5);
  color:#fff;
}

#advantageContainer2{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:-60px;
}
#advantageContainer2 div{
  width:300px;
  height:400px;
  text-align: center;
  border:1px solid #000;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
}

#tutorial{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,1);
  color:black;
}
#tutorial > div{
  margin-right: 10px;
  border:1px solid #000;
  height:600px;
  width:500px;
}

#footer{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:50px;
  color:#fff;
  background: rgb(0,0,0);
}
#form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stakeholderInfo label{
  width:100px;
  margin-bottom: 20px;
}
#next{
  float:right;
}
#characters button:click{
  background: #fff;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
.flipperClicked {
	transform: rotateY(180deg);
}



/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  border:1px solid #000;
  width: 100%;
  height: 100%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
